body{
 background-color: #ececee;   
}

.login{
 position: fixed; 
 top: 0;
 left: 0;
 width: 100%;height: 100vh;
 display: flex;
 justify-content: center;
 align-items: center;
z-index: 99;
 background-color: #fff;
}


.firebaseui-idp-button:hover{
    background-color: #000 !important;
}

.firebaseui-idp-button:hover .firebaseui-idp-text{
    color: #fff;
    transition: .5s;
}

.heading{
    color: #00000037;
    font-size: 60px;
    text-align: center;
    position: relative;
    margin: 100px 0 20px;
} 


